@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.main-container {
	display: flex;
	flex-direction: row;
}

.contacts-container {
	background: #030303;
	max-width: 300px;
	height: 100vh;
	overflow: auto;
}

.contact-head {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #959595;
	border-bottom: 1px solid #1d1c1c;
}

.circle {
	width: 50px;
	height: 50px;
	min-width: 50px;
	border-radius: 50%;
	background: #c4c4c4;
	margin-right: 20px;
	margin-left: 10px;
}

.contact-head h2 {
	font-weight: 100;
}

.chats .chat-info {
	display: flex;
	padding-top: 15px;
	border-bottom: 1px solid #1d1c1c;
	padding-bottom: 15px;
	transition: all ease 0.5s;
}

.chats .chat-info:hover {
	background: #1d1c1c;
}

.chats .chat-info h3 {
	color: #fff;
	font-weight: 100;
}

.chats .chat-info h4 {
	color: #fff;
	font-weight: 100;
	font-size: 11px;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.main-chat {
	background: #171717;
	height: 100vh;
	flex: 1;
}

.name-chat {
	user-select: none;
}

.active {
	background: #1d1c1c;
}

/* Main Chat */

.chat-head {
	display: flex;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid #484848;
}

.main-chat-name {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 20px;
}

.menu-icon {
	color: #fff;
	position: absolute;
	right: 50px;
	top: 38px;
}

/* Dropdown Menu */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	left: -177px;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 5px;
	font-weight: 500;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

/* Animation Classes */

.popin-anim {
	animation: popin 0.2s ease forwards;
}

.popout-anim {
	animation: popout 0.4s ease forwards;
}

.drol {
	color: #000;
}
/* Custom Scrollbar */

/* width */
.contacts-container::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.contacts-container::-webkit-scrollbar-track {
	background: #000;
}

/* Handle */
.contacts-container::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

/* Handle on hover */
.contacts-container::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Animations */

@keyframes popin {
	0% {
		display: block;
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes popout {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
		display: none;
	}
}

/* Media Queries */
@media (max-width: 900px) {
	.contacts-container {
		display: none;
	}
}
