@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.flex {
	display: flex;
}

.jc-c {
	justify-content: center;
}

.ai-c {
	align-items: center;
}

.main-container {
	display: flex;
	flex-direction: row;
}

.contacts-container {
	background: #030303;
	max-width: 300px;
	height: 100vh;
	overflow: auto;
}

.contact-head {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #959595;
	border-bottom: 1px solid #1d1c1c;
}

.contact-head h2::selection {
	background: rgba(5 208 208 / 70%);
	color: #fff;
	text-shadow: 0px 0px 5px;
}

.circle {
	width: 50px;
	height: 50px;
	min-width: 50px;
	border-radius: 50%;
	background: #c4c4c4;
	margin-right: 20px;
	margin-left: 10px;
}

.contact-head h2 {
	font-weight: 100;
}

.chats .chat-info {
	display: flex;
	padding-top: 15px;
	border-bottom: 1px solid #1d1c1c;
	padding-bottom: 15px;
	transition: all ease 0.5s;
}

.chats .chat-info:hover {
	background: #1d1c1c;
}

.chats .chat-info h3 {
	color: #fff;
	font-weight: 100;
}

.chats .chat-info h4 {
	color: #fff;
	font-weight: 100;
	font-size: 11px;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.main-chat {
	background: #171717;
	height: 100vh;
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	padding-bottom: 70px;
}

.name-chat {
	user-select: none;
}

.active {
	background: #1d1c1c;
}

/* Main Chat */

.chat-head {
	display: flex;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid #484848;
}

.main-chat-name {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 20px;
}

.menu-icon {
	color: #fff;
	position: absolute;
	right: 50px;
	top: 38px;
	padding: 5px 4px 2px 6px;
	cursor: pointer;
}

.menu-icon.hide #myDropdown {
	animation: popout 0.2s ease forwards;
}

.menu-icon.show #myDropdown {
	pointer-events: all;

	animation: popin 0.2s ease forwards;
}

/* Dropdown Menu */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	opacity: 0;

	pointer-events: none;
	position: absolute;
	left: -177px;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 5px;
	font-weight: 500;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.drol {
	color: #000;
}

/* Chat input */
.send-section {
	position: absolute;
	width: 90%;
	height: 64px;
	border-top: 1px solid #484848;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.chat-input {
	height: 100%;
	width: 92%;
}

.send-message-input {
	width: 100%;
	height: 100%;
	background: #171717;
	border: none;
	outline: none;
	color: #868686;
}

.send-message-input::placeholder {
	opacity: 0.5;
	font-size: 18px;
}
.send-message-input:focus::placeholder {
	transition: all 0.2s ease;
	opacity: 0;
}

.send-btn-container {
	width: 300px;
	display: flex;
}

.chat-send-btn {
	width: 112px;
	height: 40px;
	border-radius: 5px;
	outline: none;
	border: none;
	background: #404040;
	color: #e9e9e9;
	font-size: 17px;
	cursor: pointer;
	margin-top: 14px;
	margin-left: 10px;
}

.chat-send-btn:active {
	transform: scale(0.95);
}

.chat-section {
	flex: 1;
	overflow: auto;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.chat-boxes {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* Speech Bubbles */

.sb-box {
	width: fit-content;
	max-width: 550px;
	min-width: 85px;
	background: #008881;
	padding: 20px;
	padding-bottom: 25px;
	font-weight: 900;
	font-family: "Poppins", sans-serif;
	position: relative;
	border-radius: 6px;
	margin-top: 30px;
	margin-right: 90px;
	font-weight: 100;
	font-size: 14px;
	color: #000;
	word-wrap: break-word;
	transition: box-shadow 0.5s ease;
}

.chat-boxes {
	width: 100%;
}

.sb-box.not-mine {
	margin-right: auto;
	margin-left: 90px;
	background: #252525;
	color: #fff;
}

.sb-box.not-mine:hover {
	box-shadow: 0px 0px 20px rgb(64 64 64 / 28%);
}

.sb-box.not-mine .date {
	color: rgba(255, 255, 255, 0.4);
}

.sb-box.not-mine::before {
	right: unset;
	left: -20px;
	border-right: 10px solid #252525;
	border-left: 10px solid transparent;
	border-top: 10px solid #252525;
	border-bottom: 10px solid transparent;
}

.sb-box:hover {
	box-shadow: 0px 0px 20px rgb(5 208 208 / 28%);
}

.sb1:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #008881;
	border-right: 10px solid transparent;
	border-top: 10px solid #008881;
	border-bottom: 10px solid transparent;
	right: -20px;
	top: 6px;
}
.sb-box::selection,
.sb-box .date::selection {
	background: rgba(5 208 208 / 50%);
	color: #fff;
	text-shadow: 0px 0px 5px;
}

.date {
	position: absolute;
	right: 20px;
	font-size: 10px;
	bottom: 2px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 10px;
	bottom: 5px;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Animation Classes */

.popin-anim {
	animation: popin 0.2s ease forwards;
}

.popout-anim {
	animation: popout 0.4s ease forwards;
}

/* Animations */

@keyframes popin {
	0% {
		display: block;
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes popout {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
		display: none;
	}
}

@keyframes opacityTo0 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Media Queries */
@media (max-width: 900px) {
	.contacts-container {
		display: none;
	}
}
